<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.datav.mapper.DatavShareLogsMapper">
    
    <resultMap type="DatavShareLogs" id="DatavShareLogsResult">
        <result property="id"    column="id"    />
        <result property="senderId"    column="sender_id"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="primaryScreenId"    column="primary_screen_id"    />
        <result property="copyScreenId"    column="copy_screen_id"    />
        <result property="message"    column="message"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    
    <sql id="selectDatavShareLogsVo">
        select id, sender_id, receiver_id, primary_screen_id, copy_screen_id, message, status,  del_flag, create_by, create_time, update_by, update_time, remark from datav_share_logs
    </sql>
        
    <insert id="insertDatavShareLogs" parameterType="DatavShareLogs">
        insert into datav_share_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="senderId != null  and senderId != ''">sender_id,</if>
            <if test="receiverId != null  and receiverId != ''">receiver_id,</if>
            <if test="primaryScreenId != null  and primaryScreenId != ''">primary_screen_id,</if>
            <if test="copyScreenId != null  and copyScreenId != ''">copy_screen_id,</if>
            <if test="message != null and message != ''">message,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="senderId != null  and senderId != ''">#{senderId},</if>
            <if test="receiverId != null  and receiverId != ''">#{receiverId},</if>
            <if test="primaryScreenId != null  and primaryScreenId != ''">#{primaryScreenId},</if>
            <if test="copyScreenId != null  and copyScreenId != ''">#{copyScreenId},</if>
            <if test="message != null and message != ''">#{message},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <select id="selectShareLogsByUsername" parameterType="DatavShareLogs" resultType="int">
        select count(1) from datav_share_logs
	        where del_flag = '0' 
	           <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
    </select>
</mapper>