<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.datav.mapper.DatavWorkOrderMapper">
    
    <resultMap type="WorkOrder" id="WorkOrderResult">
        <result property="id"    column="id"    />
        <result property="product"    column="product"    />
        <result property="problem"    column="problem"    />
        <result property="priority"    column="priority"    />
        <result property="quickWorkOrder"    column="quick_work_order"    />
        <result property="description"    column="description"    />
        <result property="phone"    column="phone"    />
        <result property="message"    column="message"    />
        <result property="email"    column="email"    />
        <result property="enclosure"    column="enclosure"    />
        <result property="isRead"    column="is_read"    />
        <result property="isComplete"    column="is_complete"    />
        <result property="replyContent"    column="reply_content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWorkOrderVo">
        select 
	        id, 
	        product, 
	        problem, 
	        priority, 
	        quick_work_order, 
	        description, 
	        phone,  
	        message, 
	        email, 
	        enclosure, 
	        is_read, 
	        is_complete, 
	        reply_content, 
        	create_by, 
        	create_time, 
        	update_by, 
        	update_time, 
        	del_flag, 
        	remark 
        from datav_work_order
    </sql>

    <select id="selectWorkOrderList" parameterType="WorkOrder" resultMap="WorkOrderResult">
        <include refid="selectWorkOrderVo"/>
	        where del_flag = '0' 
	           <!-- <if test="ipAddress != null  and ipAddress != ''"> and ip_address = #{ipAddress}</if> -->
	           <if test="problem != null  and problem != ''"> and problem like concat('%', #{problem}, '%')</if>
	           <if test="quickWorkOrder != null  and quickWorkOrder != ''"> and quick_work_order = #{quickWorkOrder}</if>
	           <if test="isRead != null  and isRead != ''"> and is_read = #{isRead}</if>
	           <if test="isComplete != null  and isComplete != ''"> and is_complete = #{isComplete}</if>
	           <if test="createBy != null  and createBy != ''"> and (create_by = #{createBy})</if>
        order by is_read desc, is_complete desc, create_time desc
    </select>
    
    <insert id="insertWorkOrder" parameterType="WorkOrder">
        insert into datav_work_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product != null  and product != ''">product,</if>
            <if test="problem != null  and problem != ''">problem,</if>
            <if test="priority != null  and priority != ''">priority,</if>
            <if test="quickWorkOrder != null  and quickWorkOrder != ''">quick_work_order,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="message != null  and message != ''">message,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="enclosure != null  and enclosure != ''">enclosure,</if>
            <if test="isRead != null  and isRead != ''">is_read,</if>
            <if test="isComplete != null  and isComplete != ''">is_complete,</if>
            <if test="replyContent != null  and replyContent != ''">reply_content,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="product != null  and product != ''">#{product},</if>
            <if test="problem != null  and problem != ''">#{problem},</if>
            <if test="priority != null  and priority != ''">#{priority},</if>
            <if test="quickWorkOrder != null  and quickWorkOrder != ''">#{quickWorkOrder},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="message != null  and message != ''">#{message},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="enclosure != null  and enclosure != ''">#{enclosure},</if>
            <if test="isRead != null  and isRead != ''">#{isRead},</if>
            <if test="isComplete != null  and isComplete != ''">#{isComplete},</if>
            <if test="replyContent != null  and replyContent != ''">#{replyContent},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>
    
    <update id="updateWorkOrder" parameterType="WorkOrder">
        update datav_work_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="product != null  and product != ''">product = #{product},</if>
            <if test="problem != null  and problem != ''">problem = #{problem},</if>
            <if test="priority != null  and priority != ''">priority = #{priority},</if>
            <if test="quickWorkOrder != null  and quickWorkOrder != ''">quick_work_order = #{quickWorkOrder},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="message != null  and message != ''">message = #{message},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="enclosure != null  and enclosure != ''">enclosure = #{enclosure},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteWorkOrderByIds" parameterType="String">
 	    update datav_work_order set del_flag = '1' where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</delete>
    
    <select id="selectWorkOrderById" parameterType="WorkOrder" resultMap="WorkOrderResult">
        <include refid="selectWorkOrderVo"/> where del_flag = '0' and id = #{id} order by create_time desc
    </select>
    
    <update id="updateIsRead">
    	update datav_work_order set 
	    	is_read = '0',
	        update_by = #{updateBy},
	        update_time = #{updateTime}
        where id = #{id}
    </update>
    
    <update id="updateIsComplete">
    	update datav_work_order set 
            is_complete = '0',
            reply_content = #{replyContent},
            update_by = #{updateBy},
            update_time = #{updateTime}
        where id = #{id}
    </update>
    
</mapper>