<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.SysWebsocketMapper">
    
    <resultMap type="SysWebsocket" id="SysWebsocketResult">
        <result property="id"    column="id"    />
        <result property="interfaceName"    column="interface_name"    />
        <result property="interfaceUrl"    column="interface_url"    />
        <result property="interfaceKey"    column="interface_key"    />
        <result property="token"    column="token"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysWebsocketVo">
        select id, interface_name, interface_url, interface_key, token,create_by, create_time, update_by, update_time, remark, del_flag from sys_websocket
    </sql>

    <select id="selectSysWebsocketList" parameterType="SysWebsocket" resultMap="SysWebsocketResult">
        <include refid="selectSysWebsocketVo"/>
        <where>  
            <if test="interfaceName != null  and interfaceName != ''"> and interface_name like concat('%', #{interfaceName}, '%')</if>
            <if test="interfaceUrl != null  and interfaceUrl != ''"> and interface_url = #{interfaceUrl}</if>
            <if test="interfaceKey != null  and interfaceKey != ''"> and interface_key = #{interfaceKey}</if>
            <if test="createBy != null  and createBy != ''"> <![CDATA[ and create_by in  ${createBy}  ]]></if>
            and del_flag = 0
        </where>
        order by create_time desc
    </select>
    
    <select id="selectSysWebsocketById" parameterType="Long" resultMap="SysWebsocketResult">
        <include refid="selectSysWebsocketVo"/>
        where id = #{id}
        and del_flag = 0
    </select>
        
    <insert id="insertSysWebsocket" parameterType="SysWebsocket" useGeneratedKeys="true" keyProperty="id">
        insert into sys_websocket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interfaceName != null  and interfaceName != ''">interface_name,</if>
            <if test="interfaceUrl != null  and interfaceUrl != ''">interface_url,</if>
            <if test="interfaceKey != null  and interfaceKey != ''">interface_key,</if>
            <if test="token != null  and token != ''">token,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="interfaceName != null  and interfaceName != ''">#{interfaceName},</if>
            <if test="interfaceUrl != null  and interfaceUrl != ''">#{interfaceUrl},</if>
            <if test="interfaceKey != null  and interfaceKey != ''">#{interfaceKey},</if>
            <if test="token != null  and token != ''">#{token},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysWebsocket" parameterType="SysWebsocket">
        update sys_websocket
        <trim prefix="SET" suffixOverrides=",">
            <if test="interfaceName != null  and interfaceName != ''">interface_name = #{interfaceName},</if>
            <if test="interfaceUrl != null  and interfaceUrl != ''">interface_url = #{interfaceUrl},</if>
            <if test="interfaceKey != null  and interfaceKey != ''">interface_key = #{interfaceKey},</if>
            <if test="token != null">token = #{token},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteSysWebsocketById" parameterType="Long">
        update sys_websocket
        set del_flag = 1
        where id = #{id}
    </update>

    <update id="deleteSysWebsocketByIds" parameterType="String">
        update sys_websocket
        set del_flag = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>