<!DOCTYPE html>
<html>
<head>
<title>百度抓取管理</title>
<#include "/header.html">


</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="searchKey1" @keyup.enter="query1" placeholder="关键词">
			</div>
			<div class="form-group col-sm-2">
					<select id="province_options2" class="form-control" onchange="changeCity2()" >
					</select>
			</div>
			<div class="form-group col-sm-2">
					<select id="city_options2" class="form-control" ></select>
			</div>
			<div class="form-group col-sm-2">
					<select id="type2" class="form-control" style="width: 200px">
						<option value="全部">全部</option>
						<option value="1">关键词搜索带广告商品所属供应商</option>
						<option value="0">关键词直接搜索供应商</option>
					</select>
			</div>
			<a class="btn btn-default" @click="query1">查询</a>
			<a class="btn btn-primary" @click="getNewSearch"><i class="fa fa-trash-o"></i>&nbsp;新建获取</a>

		</div>
	    <table id="jqGridLog"></table>
	    <div id="jqGridPagerLog"></div>
    </div>
	<div id="getLog"  style="display: none">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="searchKey" @keyup.enter="query" placeholder="搜索标题关键词">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
		</div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>
<div  style="display: none" id="getNewSearch" class="panel panel-default">
	<form class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-2 control-label">搜索词</div>
		<div class="col-sm-10">
	<input type="text" class="form-control" id="searchKey" placeholder="搜索词"  />
		</div>
	</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">省</div>
			<div class="col-sm-10">
				<select id="province_options" class="form-control" onchange="changeCity()" style="width: 200px">
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">市</div>
			<div class="col-sm-10">
				<select id="city_options" class="form-control" style="width: 200px"></select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">爬取方式</div>
			<div class="col-sm-10">
				<select id="type" class="form-control" style="width: 200px">
					<option value="1">关键词搜索带广告商品所属供应商</option>
					<option value="0">关键词直接搜索供应商</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div>
	<input  type="button" value="保存" @click="getNewSearchInfo2" class="btn btn-primary">
		</div>
	</form>
</div>


</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<ul id="deptTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/baiduGetinfo.js?_${.now?long}"></script>


<script>


</script>
</body>
</html>
