<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.datav.mapper.DatavCmsTemplateInfoMapper">
    
    <resultMap type="DatavCmsTemplateInfo" id="DatavCmsTemplateInfoResult">
        <result property="id"    column="id"    />
        <result property="screenId"    column="screen_id"    />
        <result property="screenName"    column="screen_name"    />
        <result property="screenIntroduction"    column="screen_introduction"    />
        <result property="screenTag"    column="screen_tag"    />
        <result property="screenResolution"    column="screen_resolution"    />
        <result property="deviceType"    column="device_type"    />
        <result property="screenCreateBy"    column="screen_create_by"    />
        <result property="screenCreateDate"    column="screen_create_date"    />
        <result property="isReleased"    column="is_released"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="capturePath"    column="capture_path"    />
        <result property="viewCount"    column="view_count"    />
        <result property="starCount"    column="star_count"    />
        <result property="useCount"    column="use_count"    />
        <result property="belongto"    column="belongto"    />
        <result property="industry"    column="industry"    />
        <result property="scenario"    column="scenario"    />
    </resultMap>

    <sql id="selectDatavCmsTemplateInfoVo">
        select id, screen_id, screen_name, screen_introduction, screen_tag, screen_resolution, device_type, screen_create_by, screen_create_date, is_released, release_date, capture_path, view_count, star_count, use_count, belongto, industry, scenario from datav_cms_template
    </sql>

    <select id="selectDatavCmsTemplateInfoList" parameterType="DatavCmsTemplateInfoDto" resultMap="DatavCmsTemplateInfoResult">
        <include refid="selectDatavCmsTemplateInfoVo"/>
        <where>
            (screen_name like concat('%', #{keyword}, '%')
            or screen_introduction like concat('%', #{keyword}, '%')
            or screen_tag like concat('%', #{keyword}, '%'))
            <if test="screenResolution != null  and screenResolution != ''"> and screen_resolution = #{screenResolution}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="isReleased != null  and isReleased != ''"> and is_released = #{isReleased}</if>
            <if test="belongto != null  and belongto != ''"> and belongto = #{belongto}</if>
            <if test="industry != null  and industry != ''"> and industry = #{industry}</if>
            <if test="scenario != null  and scenario != ''"> and scenario = #{scenario}</if>
        </where>
<!--        order by release_date desc-->
        <if test='orderBy == "0"'> order by star_count desc</if>
        <if test='orderBy == "1"'> order by release_date desc</if>
    </select>

    <select id="selectDatavCmsTemplateInfoListByUser" parameterType="DatavCmsTemplateInfoDto" resultMap="DatavCmsTemplateInfoResult">
        select a.screen_id, a.screen_name, a.screen_introduction, a.screen_tag, a.screen_resolution, a.device_type, a.screen_create_by, a.screen_create_date,
        a.is_released, a.release_date, a.capture_path, a.view_count, a.star_count, a.use_count, a.belongto, a.industry, a.scenario
        from datav_cms_template as a,favorite_screen_templates as b
        <where>
            b.uid = #{userId} and b.screen_id = a.screen_id and
            (a.screen_name like concat('%', #{keyword}, '%')
            or a.screen_introduction like concat('%', #{keyword}, '%')
            or a.screen_tag like concat('%', #{keyword}, '%'))
            <if test="screenResolution != null  and screenResolution != ''"> and a.screen_resolution = #{screenResolution}</if>
            <if test="deviceType != null  and deviceType != ''"> and a.device_type = #{deviceType}</if>
            <if test="belongto != null  and belongto != ''"> and a.belongto = #{belongto}</if>
            <if test="industry != null  and industry != ''"> and a.industry = #{industry}</if>
            <if test="scenario != null  and scenario != ''"> and a.scenario = #{scenario}</if>
        </where>
        <!--        order by release_date desc-->
        <if test='orderBy == "0"'> order by a.star_count desc</if>
        <if test='orderBy == "1"'> order by a.release_date desc</if>
    </select>

    <select id="selectHotTemplateList" parameterType="DatavCmsTemplateInfo" resultMap="DatavCmsTemplateInfoResult">
        <include refid="selectDatavCmsTemplateInfoVo"/>
        <where>
            <if test="screenId != null  and screenId != ''"> and screen_id = #{screenId}</if>
            <if test="screenName != null  and screenName != ''"> and screen_name like concat('%', #{screenName}, '%')</if>
            <if test="screenIntroduction != null  and screenIntroduction != ''"> and screen_introduction = #{screenIntroduction}</if>
            <if test="screenTag != null  and screenTag != ''"> and screen_tag = #{screenTag}</if>
            <if test="screenResolution != null  and screenResolution != ''"> and screen_resolution = #{screenResolution}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="screenCreateBy != null  and screenCreateBy != ''"> and screen_create_by = #{screenCreateBy}</if>
            <if test="screenCreateDate != null "> and screen_create_date = #{screenCreateDate}</if>
            <if test="isReleased != null  and isReleased != ''"> and is_released = #{isReleased}</if>
            <if test="releaseDate != null "> and release_date = #{releaseDate}</if>
            <if test="capturePath != null  and capturePath != ''"> and capture_path = #{capturePath}</if>
            <if test="viewCount != null "> and view_count = #{viewCount}</if>
            <if test="starCount != null "> and star_count = #{starCount}</if>
            <if test="useCount != null "> and use_count = #{useCount}</if>
            <if test="belongto != null  and belongto != ''"> and belongto = #{belongto}</if>
            <if test="industry != null  and industry != ''"> and industry = #{industry}</if>
            <if test="scenario != null  and scenario != ''"> and scenario = #{scenario}</if>
        </where>
        order by star_count desc
    </select>

    <select id="selectTemplateListByKeyword" parameterType="String" resultMap="DatavCmsTemplateInfoResult">
        <include refid="selectDatavCmsTemplateInfoVo"/>
        <where>
            or screen_name like concat('%', #{keyword}, '%')
            or screen_introduction like concat('%', #{keyword}, '%')
            or screen_tag like concat('%', #{keyword}, '%')
        </where>
        order by release_date desc
    </select>

    <select id="selectDatavCmsTemplateInfoById" parameterType="Long" resultMap="DatavCmsTemplateInfoResult">
        <include refid="selectDatavCmsTemplateInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertDatavCmsTemplateInfo" parameterType="DatavCmsTemplateInfo" useGeneratedKeys="true" keyProperty="id">
        insert into datav_cms_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="screenId != null  and screenId != ''">screen_id,</if>
            <if test="screenName != null  and screenName != ''">screen_name,</if>
            <if test="screenIntroduction != null  and screenIntroduction != ''">screen_introduction,</if>
            <if test="screenTag != null  and screenTag != ''">screen_tag,</if>
            <if test="screenResolution != null  and screenResolution != ''">screen_resolution,</if>
            <if test="deviceType != null  and deviceType != ''">device_type,</if>
            <if test="screenCreateBy != null  and screenCreateBy != ''">screen_create_by,</if>
            <if test="screenCreateDate != null ">screen_create_date,</if>
            <if test="isReleased != null  and isReleased != ''">is_released,</if>
            <if test="releaseDate != null ">release_date,</if>
            <if test="capturePath != null  and capturePath != ''">capture_path,</if>
            <if test="viewCount != null ">view_count,</if>
            <if test="starCount != null ">star_count,</if>
            <if test="useCount != null ">use_count,</if>
            <if test="belongto != null  and belongto != ''">belongto,</if>
            <if test="industry != null  and industry != ''">industry,</if>
            <if test="scenario != null  and scenario != ''">scenario,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="screenId != null  and screenId != ''">#{screenId},</if>
            <if test="screenName != null  and screenName != ''">#{screenName},</if>
            <if test="screenIntroduction != null  and screenIntroduction != ''">#{screenIntroduction},</if>
            <if test="screenTag != null  and screenTag != ''">#{screenTag},</if>
            <if test="screenResolution != null  and screenResolution != ''">#{screenResolution},</if>
            <if test="deviceType != null  and deviceType != ''">#{deviceType},</if>
            <if test="screenCreateBy != null  and screenCreateBy != ''">#{screenCreateBy},</if>
            <if test="screenCreateDate != null ">#{screenCreateDate},</if>
            <if test="isReleased != null  and isReleased != ''">#{isReleased},</if>
            <if test="releaseDate != null ">#{releaseDate},</if>
            <if test="capturePath != null  and capturePath != ''">#{capturePath},</if>
            <if test="viewCount != null ">#{viewCount},</if>
            <if test="starCount != null ">#{starCount},</if>
            <if test="useCount != null ">#{useCount},</if>
            <if test="belongto != null  and belongto != ''">#{belongto},</if>
            <if test="industry != null  and industry != ''">#{industry},</if>
            <if test="scenario != null  and scenario != ''">#{scenario},</if>
        </trim>
    </insert>

    <update id="updateDatavCmsTemplateInfo" parameterType="DatavCmsTemplateInfo">
        update datav_cms_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="screenId != null  and screenId != ''">screen_id = #{screenId},</if>
            <if test="screenName != null  and screenName != ''">screen_name = #{screenName},</if>
            <if test="screenIntroduction != null  and screenIntroduction != ''">screen_introduction = #{screenIntroduction},</if>
<!--            <if test="screenTag != null  and screenTag != ''">screen_tag = #{screenTag},</if>-->
            screen_tag = #{screenTag},
            <if test="screenResolution != null  and screenResolution != ''">screen_resolution = #{screenResolution},</if>
            <if test="deviceType != null  and deviceType != ''">device_type = #{deviceType},</if>
            <if test="screenCreateBy != null  and screenCreateBy != ''">screen_create_by = #{screenCreateBy},</if>
            <if test="screenCreateDate != null ">screen_create_date = #{screenCreateDate},</if>
            <if test="isReleased != null  and isReleased != ''">is_released = #{isReleased},</if>
            <if test="releaseDate != null ">release_date = #{releaseDate},</if>
            <if test="capturePath != null  and capturePath != ''">capture_path = #{capturePath},</if>
            <if test="viewCount != null ">view_count = #{viewCount},</if>
            <if test="starCount != null ">star_count = #{starCount},</if>
            <if test="useCount != null ">use_count = #{useCount},</if>
            <if test="belongto != null  and belongto != ''">belongto = #{belongto},</if>
            <if test="industry != null  and industry != ''">industry = #{industry},</if>
            <if test="scenario != null  and scenario != ''">scenario = #{scenario},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="releaseCmsTemplate" parameterType="DatavCmsTemplateInfo">
        update datav_cms_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="screenId != null  and screenId != ''">screen_id = #{screenId},</if>
            <if test="screenName != null  and screenName != ''">screen_name = #{screenName},</if>
            <if test="screenIntroduction != null  and screenIntroduction != ''">screen_introduction = #{screenIntroduction},</if>
            <if test="screenTag != null  and screenTag != ''">screen_tag = #{screenTag},</if>
            <if test="screenResolution != null  and screenResolution != ''">screen_resolution = #{screenResolution},</if>
            <if test="deviceType != null  and deviceType != ''">device_type = #{deviceType},</if>
            <if test="screenCreateBy != null  and screenCreateBy != ''">screen_create_by = #{screenCreateBy},</if>
            <if test="screenCreateDate != null ">screen_create_date = #{screenCreateDate},</if>
            <if test="isReleased != null  and isReleased != ''">is_released = #{isReleased},</if>
            <if test="releaseDate != null ">release_date = #{releaseDate},</if>
            <if test="capturePath != null  and capturePath != ''">capture_path = #{capturePath},</if>
            <if test="viewCount != null ">view_count = #{viewCount},</if>
            <if test="starCount != null ">star_count = #{starCount},</if>
            <if test="useCount != null ">use_count = #{useCount},</if>
            <if test="belongto != null  and belongto != ''">belongto = #{belongto},</if>
            <if test="industry != null  and industry != ''">industry = #{industry},</if>
            <if test="scenario != null  and scenario != ''">scenario = #{scenario},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDatavCmsTemplateInfoById" parameterType="String">
        delete from datav_cms_template where screen_id = #{screenId}
    </delete>

    <delete id="deleteDatavCmsTemplateInfoByIds" parameterType="String">
        delete from datav_cms_template where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="starCountIncrease" parameterType="String">
        update datav_cms_template set star_count = star_count + 1
        where screen_id = #{screenId}
    </update>

    <update id="starCountDecrease" parameterType="String">
        update datav_cms_template set star_count = star_count - 1
        where screen_id = #{screenId}
    </update>

    <update id="viewCountIncrease" parameterType="String">
        update datav_cms_template set view_count = view_count + 1
        where screen_id = #{screenId}
    </update>

    <update id="useCountIncrease" parameterType="String">
        update datav_cms_template set use_count = use_count + 1
        where screen_id = #{screenId}
    </update>
    
</mapper>