<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.datav.mapper.DatavChartCollectionMapper">
    
    <resultMap type="DatavChartCollection" id="DatavChartCollectionResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="chartOption"    column="chart_option"    />
        <result property="graph"    column="graph"    />
        <result property="component"    column="component"    />
        <result property="describe"    column="describe"    />
        <result property="thumbnail"    column="thumbnail"    />
        <result property="isOpen"    column="is_open"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDatavChartCollectionVo">
        select id, name, chart_option, graph, component, `describe`, thumbnail, is_open, status, del_flag, create_by, create_time, update_by, update_time, remark from datav_chart_collection
    </sql>

    <select id="selectDatavChartCollectionList" parameterType="DatavChartCollection" resultMap="DatavChartCollectionResult">
        <include refid="selectDatavChartCollectionVo"/>
        	where del_flag = '0'
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="chartOption != null  and chartOption != ''"> and chart_option = #{chartOption}</if>
            <if test="graph != null  and graph != ''"> and graph = #{graph}</if>
            <if test="component != null  and component != ''"> and component = #{component}</if>
            <if test="describe != null  and describe != ''"> and `describe` like concat('%', #{describe}, '%')</if>
            <if test="isOpen != null  and isOpen != ''"> and is_open = #{isOpen}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createBy != null  and createBy != ''"> and (is_open = 'Y' or create_by = #{createBy})</if>
       
        order by create_time desc
    </select>
    
    <select id="selectDatavChartCollectionByUsername" parameterType="DatavChartCollection" resultType="int">
        select count(1) from datav_chart_collection
        	where del_flag = '0'
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
       
    </select>
    
    <select id="selectDatavChartCollectionById" parameterType="Integer" resultMap="DatavChartCollectionResult">
        <include refid="selectDatavChartCollectionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDatavChartCollection" parameterType="DatavChartCollection" useGeneratedKeys="true" keyProperty="id">
        insert into datav_chart_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="chartOption != null  and chartOption != ''">chart_option,</if>
            <if test="graph != null  and graph != ''">graph,</if>
            <if test="component != null  and component != ''">component,</if>
            <if test="describe != null  and describe != ''">`describe`,</if>
            <if test="thumbnail != null  and thumbnail != ''">thumbnail,</if>
            <if test="isOpen != null  and isOpen != ''">is_open,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="chartOption != null  and chartOption != ''">#{chartOption},</if>
            <if test="graph != null  and graph != ''">#{graph},</if>
            <if test="component != null  and component != ''">#{component},</if>
            <if test="describe != null  and describe != ''">#{describe},</if>
            <if test="thumbnail != null  and thumbnail != ''">#{thumbnail},</if>
            <if test="isOpen != null  and isOpen != ''">#{isOpen},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <delete id="deleteDatavChartCollectionById" parameterType="String">
        update datav_chart_collection set del_flag = '1' where id = #{collectionId}
    </delete>
</mapper>