<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.datav.mapper.DatavFormSourceMapper">
    
    <resultMap type="DatavFormSource" id="DatavFormSourceResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="formData"    column="form_data"    />
        <result property="chartType"    column="chart_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDatavFormSourceVo">
        select id, file_name, file_url, form_data, chart_type, create_by, create_time, update_by, update_time, del_flag, remark from datav_form_source
    </sql>

    <select id="selectDatavFormSourceList" parameterType="DatavFormSource" resultMap="DatavFormSourceResult">
        <include refid="selectDatavFormSourceVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileUrl != null  and fileUrl != ''"> and file_url = #{fileUrl}</if>
            <if test="formData != null  and formData != ''"> and form_data = #{formData}</if>
            <if test="chartType != null  and chartType != ''"> and chart_type = #{chartType}</if>
            <if test="createBy != null  and createBy != ''"> and (create_by = #{createBy})</if>
        </where>
    </select>
    
    <select id="selectDatavFormSourceById" parameterType="Long" resultMap="DatavFormSourceResult">
        <include refid="selectDatavFormSourceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDatavFormSource" parameterType="DatavFormSource" useGeneratedKeys="true" keyProperty="id">
        insert into datav_form_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="fileUrl != null  and fileUrl != ''">file_url,</if>
            <if test="formData != null  and formData != ''">form_data,</if>
            <if test="chartType != null  and chartType != ''">chart_type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="fileUrl != null  and fileUrl != ''">#{fileUrl},</if>
            <if test="formData != null  and formData != ''">#{formData},</if>
            <if test="chartType != null  and chartType != ''">#{chartType},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDatavFormSource" parameterType="DatavFormSource">
        update datav_form_source
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="fileUrl != null  and fileUrl != ''">file_url = #{fileUrl},</if>
            <if test="formData != null  and formData != ''">form_data = #{formData},</if>
            <if test="chartType != null  and chartType != ''">chart_type = #{chartType},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDatavFormSourceById" parameterType="Long">
        delete from datav_form_source where id = #{id}
    </delete>

    <delete id="deleteDatavFormSourceByIds" parameterType="String">
        delete from datav_form_source where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>