<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.datav.mapper.DatavScreenMapper">
    
    <resultMap type="DatavScreen" id="DatavScreenResult">
        <result property="screenId"    column="screen_id"    />
        <result property="screenName"    column="screen_name"    />
        <result property="drawOption"    column="draw_option"    />
        <result property="themeOption"    column="theme_option"    />
        <result property="idGlobal"    column="id_global"    />
        <result property="zindex"    column="zindex"    />
        <result property="capturePath"    column="capture_path"    />
        <result property="password"    column="password"    />
        <result property="isPublic"    column="is_public"    />
        <result property="isTemplate"    column="is_template"    />
        <result property="belongto"    column="belongto"    />
        <result property="optionMap"    column="option_map"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDatavScreenVo">
        select screen_id, screen_name, draw_option, theme_option, id_global, zindex, capture_path, password, is_public, is_template, belongto, option_map, status, del_flag, create_by, create_time, update_by, update_time, remark from datav_screen
    </sql>
    
    <sql id="viewDatavScreenVo">
        select screen_id, screen_name, capture_path, is_public, is_template, create_by, create_time from datav_screen
    </sql>

    <select id="selectDatavScreenList" parameterType="DatavScreen" resultMap="DatavScreenResult">
        <include refid="viewDatavScreenVo"/>
        where del_flag = '0'
        <if test="screenName != null  and screenName != ''"> and screen_name like concat('%', #{screenName}, '%')</if>
        <if test="isPublic != null  and isPublic != ''"> and is_public = #{isPublic}</if>
        <if test="isTemplate != null  and isTemplate != ''"> and is_template = #{isTemplate}</if>
        <if test="belongto != null  and belongto != ''"> and belongto = #{belongto}</if>
        <if test="status != null  and status != ''"> and status = #{status}</if>
        <if test="createBy != null  and createBy != ''"><![CDATA[ and (is_public = '1' or create_by in  ${createBy} ) ]]> </if>
        order by create_time desc
    </select>
    
    <select id="selectDatavScreenByUsername" parameterType="DatavScreen" resultType="int">
        select count(1) from datav_screen
        where del_flag = '0'
        <if test="isPublic != null  and isPublic != ''"> and is_public = #{isPublic}</if>
        <if test="isTemplate != null  and isTemplate != ''"> and is_template = #{isTemplate}</if>
        <if test="createBy != null  and createBy != ''"> and  create_by  = #{createBy} </if>
    </select>
    
    <select id="selectDatavScreenByUsernameAndBelongto" parameterType="DatavScreen" resultType="com.ruoyi.project.datav.domain.DatavMoreVo">
    	SELECT
			belongto as moreName,
			COUNT(1) AS count
		FROM
			datav_screen
		WHERE
			del_flag = '0' and create_by = #{createBy} GROUP BY belongto
		
    </select>
    
    <select id="selectDatavScreenById" parameterType="String" resultMap="DatavScreenResult">
        <include refid="selectDatavScreenVo"/>
        where screen_id = #{screenId}
    </select>
        
    <insert id="insertDatavScreen" parameterType="DatavScreen">
        insert into datav_screen
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="screenId != null  and screenId != ''">screen_id,</if>
            <if test="screenName != null  and screenName != ''">screen_name,</if>
            <if test="drawOption != null  and drawOption != ''">draw_option,</if>
            <if test="themeOption != null  and themeOption != ''">theme_option,</if>
            <if test="idGlobal != null ">id_global,</if>
            <if test="zindex != null ">zindex,</if>
            <if test="capturePath != null  and capturePath != ''">capture_path,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="isPublic != null  and isPublic != ''">is_public,</if>
            <if test="isTemplate != null  and isTemplate != ''">is_template,</if>
            <if test="belongto != null  and belongto != ''">belongto,</if>
            <if test="optionMap != null  and optionMap != ''">option_map,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="screenId != null  and screenId != ''">#{screenId},</if>
            <if test="screenName != null  and screenName != ''">#{screenName},</if>
            <if test="drawOption != null  and drawOption != ''">#{drawOption},</if>
            <if test="themeOption != null  and themeOption != ''">#{themeOption},</if>
            <if test="idGlobal != null ">#{idGlobal},</if>
            <if test="zindex != null ">#{zindex},</if>
            <if test="capturePath != null  and capturePath != ''">#{capturePath},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="isPublic != null  and isPublic != ''">#{isPublic},</if>
            <if test="isTemplate != null  and isTemplate != ''">#{isTemplate},</if>
            <if test="belongto != null  and belongto != ''">#{belongto},</if>
            <if test="optionMap != null  and optionMap != ''">#{optionMap},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDatavScreen" parameterType="DatavScreen">
        update datav_screen
        <trim prefix="SET" suffixOverrides=",">
            <if test="screenName != null  and screenName != ''">screen_name = #{screenName},</if>
            <if test="drawOption != null  and drawOption != ''">draw_option = #{drawOption},</if>
            <if test="themeOption != null  and themeOption != ''">theme_option = #{themeOption},</if>
            <if test="idGlobal != null ">id_global = #{idGlobal},</if>
            <if test="zindex != null ">zindex = #{zindex},</if>
            <if test="capturePath != null  and capturePath != ''">capture_path = #{capturePath},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="isPublic != null  and isPublic != ''">is_public = #{isPublic},</if>
            <if test="isTemplate != null  and isTemplate != ''">is_template = #{isTemplate},</if>
            <if test="belongto != null  and belongto != ''">belongto = #{belongto},</if>
            <if test="optionMap != null  and optionMap != ''">option_map = #{optionMap},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where screen_id = #{screenId}
    </update>

    <delete id="deleteDatavScreenById" parameterType="String">
        update datav_screen set del_flag = '1' where screen_id = #{screenId}
    </delete>

    <delete id="deleteDatavScreenByIds" parameterType="String">
        delete from datav_screen where screen_id in 
        <foreach item="screenId" collection="array" open="(" separator="," close=")">
            #{screenId}
        </foreach>
    </delete>

    <resultMap type="DatavScreenTemplateVO" id="DatavScreenTemplateResult">
        <result property="screenId"    column="screen_id"    />
        <result property="screenName"    column="screen_name"    />
        <result property="capturePath"    column="capture_path"    />
    </resultMap>

    <select id="selectTemplateList" resultMap="DatavScreenTemplateResult">
        select screen_id, screen_name, capture_path
        from datav_screen
        where del_flag = '0' and is_template = '1'
        order by create_time desc
    </select>

    <select id="findScreenCount" resultType="int">
    	select count(1) from datav_screen where del_flag = '0'
    </select>
    
    <select id="findAssemblyCount" resultType="int">
    	select count(1) from datav_custom_chart where del_flag = '0'
    </select>
    
    <select id="findFirstList" resultType="com.ruoyi.project.datav.domain.DatavLineVo">
    	SELECT
			SUBSTRING(create_time, 1, 10) AS createTime,
			COUNT(1) AS count
		FROM
			sys_user
		WHERE
            <if test="type == 'day'">
                date_format(create_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
            </if>
            <if test="type == 'week'">
                DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= date(create_time)
            </if>
            <if test="type == 'month'">
                DATE_SUB(CURDATE(), INTERVAL 31 DAY) &lt;= date(create_time)
            </if>
            <if test="type == 'year'">
                YEAR (create_time) = YEAR (NOW())
            </if>
		AND del_flag != 2
		GROUP BY
			SUBSTRING(create_time, 1, 10)
    </select>
    
    <select id="findThirdList" resultType="com.ruoyi.project.datav.domain.DatavLineVo">
    	SELECT
			SUBSTRING(create_time, 1, 10) AS createTime,
			COUNT(1) AS count
		FROM
			datav_screen
		WHERE
        <if test="type == 'day'">
            date_format(create_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
        </if>
        <if test="type == 'week'">
            DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= date(create_time)
        </if>
        <if test="type == 'month'">
            DATE_SUB(CURDATE(), INTERVAL 31 DAY) &lt;= date(create_time)
        </if>
        <if test="type == 'year'">
            YEAR (create_time) = YEAR (NOW())
        </if>
		AND del_flag = '0'
		GROUP BY
			SUBSTRING(create_time, 1, 10)
    </select>
    
    <select id="findForthList" resultType="com.ruoyi.project.datav.domain.DatavLineVo">
    	SELECT
			SUBSTRING(create_time, 1, 10) AS createTime,
			COUNT(1) AS count
		FROM
			datav_custom_chart
		WHERE
        <if test="type == 'day'">
            date_format(create_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
        </if>
        <if test="type == 'week'">
            DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= date(create_time)
        </if>
        <if test="type == 'month'">
            DATE_SUB(CURDATE(), INTERVAL 31 DAY) &lt;= date(create_time)
        </if>
        <if test="type == 'year'">
            YEAR (create_time) = YEAR (NOW())
        </if>
		AND del_flag = '0'
		GROUP BY
			SUBSTRING(create_time, 1, 10)
    </select>
    
    <select id="findIsPublicPie" resultType="com.ruoyi.project.datav.domain.DatavMoreVo">
    	SELECT
			(
				CASE is_public
				WHEN 0 THEN '不公开'
				WHEN 1 THEN '公开'
				ELSE '未分类' END
			) moreName,
			COUNT(1) AS count
		FROM
			datav_screen
		WHERE
			del_flag = '0'
		AND is_public != ''
		GROUP BY is_public
    </select>
    
    <select id="findIsPublic" resultType="com.ruoyi.project.datav.domain.DatavMoreVo">
    	SELECT
			(
				CASE is_public
				WHEN 0 THEN '非公开模板'
				WHEN 1 THEN '公开模板'
				ELSE '未分类' END
			) moreName,
			COUNT(1) AS count
		FROM
			datav_screen
		WHERE
			del_flag = '0'
		AND is_public != ''
		GROUP BY is_public
    </select>
    
    <select id="findIsTemplate" resultType="com.ruoyi.project.datav.domain.DatavMoreVo">
	    SELECT
			(
				CASE is_template
				WHEN 0 THEN '非模板大屏页'
				WHEN 1 THEN '模板大屏页'
				ELSE '未分类' END
			) moreName,
			COUNT(1) AS count
		FROM
			datav_screen
		WHERE
			del_flag = '0'
		AND is_template != ''
		GROUP BY is_template
    </select>
    
    <select id="findCustom" resultType="com.ruoyi.project.datav.domain.DatavLineVo">
    	SELECT
			SUBSTRING(create_time, 1, 10) AS createTime,
			COUNT(1) AS count
		FROM
			datav_custom_chart
		WHERE
			del_flag = '0'
		<!-- AND DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= date(create_time) -->
		GROUP BY
			SUBSTRING(create_time, 1, 10);
    </select>

    <select id="findCustomPie" resultType="com.ruoyi.project.datav.domain.DatavMoreVo">
        SELECT
            (
                CASE graph
                    WHEN 'bar' THEN '柱状图'
                    WHEN 'line' THEN '折线图'
                    WHEN 'scatter' THEN '散点图'
                    WHEN 'pie' THEN '饼图'
                    WHEN 'map' THEN '地图'
                    WHEN 'radar' THEN '雷达图'
                    WHEN 'funnel' THEN '漏斗图'
                    WHEN 'gauge' THEN '仪表盘'
                    WHEN 'candlestick' THEN 'K线图'
                    WHEN 'boxplot' THEN '箱线图'
                    WHEN 'heatmap' THEN '热力图'
                    WHEN 'diagram' THEN '关系图'
                    WHEN 'waterball' THEN '水球图'
                    WHEN 'datamap' THEN '数据集'
                    WHEN 'pops' THEN '气泡图'
                    WHEN 'sunburst' THEN '旭日图'
                    WHEN 'sankey' THEN '桑基图'
                    WHEN 'treemap' THEN '矩形树图'
                    WHEN 'parallel' THEN '平行坐标'
                    WHEN 'other' THEN '自定义组件'
                    ELSE '其他' END
                ) moreName,
            COUNT(1) AS count
        FROM
            datav_custom_chart
        WHERE
            del_flag = '0'
        GROUP BY graph
    </select>

</mapper>
